.container_main .title {
    text-align: center;
}
.container_main .title-section {
    margin-top: 5rem;
}
.container_main p{
    margin-bottom: 4rem;
    line-height: 1.5;
    font-size: .8rem;
}
.container_main{
    margin-bottom: 8rem;
}
.firstName_lastName{
  display: flex;
  gap: 1rem;
}
.firstName_lastName div{
    width: 95%;
}
.firstName_lastName div input{
    width: 95%;
}
input#email{
    width: 97%;
}
input#phone{
    width: 97%;
}
textarea#message{
    width: 97%;
}
input#submit{
    width: 98%;
    height: 4rem;
}
.container_main{
    margin-left: 4%;
}
.container_main form input{
    margin-bottom: 4%;
    border: none;
   height: 3rem;
   margin-top:2px ;
}
.container_main form textarea{
    margin-bottom: 4%;
    border: none;
   height: 3rem;
   margin-top:2px ;
   background-color:#F3F3F3;
   padding-left: 20px;
}

.container_main form input:focus{
    box-shadow: 0 0 10px 4px #100d0a62;
}
.container_main form textarea:focus{
    box-shadow: 0 0 10px 4px #100d0a62;
}
.container_main form input{
    background-color:#F3F3F3;
    border-radius: 10px 10px 10px 10px;
    padding-left: 20px;
    font-size: 1rem;
}
.container_main form input#submit{
    background-color: #473D3A;
    color: #fff;
}
.container_main form textarea#message{
    height: 10rem;
}


@media  screen and (max-width: 767px){
    .container_main h1{
       text-align: center;
       font-size: 300%;
    }
    .container_main p{
       text-align: center;
       font-size: 140%;
    }
    .firstName_lastName{
       display: inline;
      }
      .firstName_lastName div{
        width: 96%;
    }
    .firstName_lastName div input{
        width: 96%;
    }
    input#email{
        width: 93%;
    }
    input#phon{
        width: 93%;
    }
    textarea#message{
        width: 93%;
    }
    input#submit{
        width: 95%;
    }
    #labellastname{
        margin-left: 0;
    }
    .container_main form label{
        font-size:20px;
    }
    
}


input:focus {
    outline:none;
    margin-top:10px;
}

textarea:focus {
    outline:none;
}
textarea {
    padding-top: 15px;
}