main {
    margin-bottom: 40px;
}

.destination-hero {
    width: 100%;
}
.destination-hero img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.destination-description {
    margin-block: 64px 20px;
}

.destination-images {
    margin-bottom: 40px;
}
.destination-images .destination-filter-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    & .destination-item-color {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
}

.images-container {
    margin-block: 20px;
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    .left-images {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        width: 70%;
        overflow: hidden;
        img {
            height: 50%;
            width: 100%;
            object-fit: cover;
        }
    }
    .right-images {
        display: flex;
        width: 30%;
        height: 100%;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 767px) {
    .destination-hero img {
        height: 250px;
    }
    .images-container {
        overflow-y: auto;
        height: 300px;
        display: block;
        width: auto;
        .left-images {
            flex-direction: row;
            width: 100%;
            overflow: visible;
            img {
                height: 300px;
            }
        }
        .right-images {
            width: 100%;
            display: none;
        }
    }
}

.pagination-section {
    .pagination-images {
        margin-block: 20px;
        display: flex;
        justify-content: space-between;
        .card-image {
            width: 24%;
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
    }
}
.pagination-arrows {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .fa-solid {
        margin: 0 50px;
        padding: 10px;
        border-radius: 50%;
        background: var(--gray-light-color);
        cursor: pointer;
    }
    .btn {
        border-radius: 50%;
    }
    .fa-solid:hover {
        background: var(--gray-light-color);
    }
}

@media (max-width: 767px) {
    .pagination-section {
        .pagination-images {
            flex-wrap: wrap;
            .card-image {
                width: 49%;
                margin-bottom: 6px;
            }
        }
    }
    .pagination-arrows {
        gap: 10px;
        .fa-solid {
            margin: 0 10px;
        }
    }
}

