:root {
    --primary-color:  #B25E39;
    --secondary-color:  #A88F68;
    --dark-color: #473D3A;
    --gray-light-color: #F3F3F3;
    --gray-dark-color: #DDDCDC; 
    --transition-time: 300ms;
}

main {
    margin-bottom: 40px;
}

.destination-hero {
    position: relative;
    padding-inline: 1.5rem;
    
    & .slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        border-radius: 1rem;

        &::-webkit-scrollbar {
            display: none;
        }
        & .slide {
            display: flex;
            position: relative;
            flex: 1 0 100%;
            scroll-snap-align: start;

            & img {
                width: 100%;
                height: 450px;
                object-fit: cover;
            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: .55;
                border-radius: 1rem;
            }
        }
    }

    & .slider-nav {
        display: flex;
        position: absolute;
        gap: 1rem;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        z-index: 1;

        & a {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: white;
            opacity: .75;
            transition: opacity var(--transition-time);
            &:hover {
                opacity: 1;
            }
        }
}
}
.destination-description {
    margin-block: 64px 20px;
}
p {
    line-height: 1.4;
}

.destination-images {
    margin-bottom: 40px;
    .destination-filter-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    & .destination-item-color {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        input {
            display: none;
        }
        input:checked + label {
            background-color: var(--dark-color);
            color: white;
        }
    }
}
}

.images-container .gallery {
    margin-block: 20px;
    width: 100%;
    height: 600px;
    display: none;
    gap: 10px;
    .left-images {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        width: 70%;
        overflow: hidden;
        img {
            height: 50%;
            width: 100%;
            object-fit: cover;
        }
    }
    .right-images {
        display: flex;
        width: 30%;
        height: 100%;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.destination-images:has(input:nth-last-of-type(5):checked) .images-container .reds,
.destination-images:has(input:nth-last-of-type(4):checked) .images-container .yellows,
.destination-images:has(input:nth-last-of-type(3):checked) .images-container .blues,
.destination-images:has(input:nth-last-of-type(2):checked) .images-container .whites,
.destination-images:has(input:nth-last-of-type(1):checked) .images-container .greens {
    display: flex;
}


@media (max-width: 767px) {
    .destination-hero img {
        height: 250px;
    }
    .images-container .gallery {
        overflow-y: auto;
        height: 300px;
        display: none;
        width: auto;
        .left-images {
            flex-direction: row;
            width: 100%;
            overflow: visible;
            img {
                height: 300px;
            }
        }
        .right-images {
            width: 100%;
            display: none;
        }
    }
    .destination-images:has(input:nth-last-of-type(5):checked) .images-container .reds,
    .destination-images:has(input:nth-last-of-type(4):checked) .images-container .yellows,
    .destination-images:has(input:nth-last-of-type(3):checked) .images-container .blues,
    .destination-images:has(input:nth-last-of-type(2):checked) .images-container .whites,
    .destination-images:has(input:nth-last-of-type(1):checked) .images-container .greens {
        display: flex;
    }
}

.pagination-section {
    .pagination-images {
        margin-block: 20px;
        display: none;
        justify-content: space-between;
        .card-image {
            width: 24%;
            position: relative;
            overflow: hidden;
            img {
                border-radius: 10px;
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            .overlay {
                transition: 0.6s;
                position: absolute;
                width: 100%;
                height: 99%;
                background-color: rgba(0, 0, 0, 0.712);
                top:-100%;
                left:0;
                border-radius: 10px;
                padding: 10px;
                box-sizing: border-box;
                color:white;
                .overlay_header {
                    text-align: center;
                    color:white;
                    font-size: 1.4rem;
                    margin-top:20px;
                }
                .overlay_description {
                    margin-top:1rem;
                    font-size: 0.9rem;
                }
            }
            &:hover .overlay {
                top: 0;
            }
        }
    }
}

.pagination-section:has(input:nth-of-type(1):checked) .gallery-one,
.pagination-section:has(input:nth-of-type(2):checked) .gallery-two,
.pagination-section:has(input:nth-of-type(3):checked) .gallery-three {
    display: flex;
}

.pagination-arrows {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .fa-solid {
        margin: 0 50px;
        padding: 10px;
        border-radius: 50%;
        background: var(--gray-light-color);
        cursor: pointer;
    }
    input {
        display: none;
    }
    .btn {
        border-radius: 50%;
    }
    .fa-solid:hover {
        background: var(--gray-light-color);
    }
}

@media (max-width: 767px) {
    .pagination-section {
        .pagination-images {
            flex-wrap: wrap;
            .card-image {
                position: relative;
                width: 49.5%;
                height: 160px;
                margin-bottom: 3px;
                border-radius: 5px;
                img {
                    height: 100%;
                    object-fit: cover;
                }
                
            }
        }
    }
    .pagination-arrows {
        gap: 10px;
        .fa-solid {
            margin: 0 10px;
        }
    }
}
