@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=League+Spartan:wght@100..900&display=swap');


body{
    font-family:"comfortaa";
}
.title {
    margin-top: 5rem;
    text-align: center;

    & p {
        font-size: 0.8rem;
    }
}
.faq-container{
    margin-top: 5rem;
    padding-inline:10px;
}
.faq-container details{
    margin: auto;
    max-width: 50rem;
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: #F3F3F3;

}
.faq-container summary{
    font-size: 0.9rem;
}
.faq-container details p{
    color: gray;
    font-size: 0.85rem;
    line-height: 1.4rem;
    padding: 0.8rem;
    padding-right: 2rem;
}
details{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
}
summary{
    cursor: pointer;
    padding: 1rem;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 2s;
}
summary::after{
    content:'\276F' ;
    transform: rotate(90deg);
    font-size: 1.2rem;
    transition: 0.5s;
}

details[open] summary::after {
    transform: rotate(270deg);
}
details[open] summary ~ p {
    animation: sweep .5s ease-in-out;
}
.faq-derniere-question{
    margin-top: 4rem;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}
.faq-fin{
    text-align: center;
    color: gray;

}
.contactus{
    color: black;
}

.end_title {
    margin-block: 55px;
    & .sm {
        font-size: 0.8rem;
    }
}

/* Animations */
@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}