@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=League+Spartan:wght@100..900&display=swap');


body{
    font-family:"comfortaa";
}
.title {
    margin-top:100px;
    & h1{
        font-size: 2rem;
    }
    & p {
        font-size: 0.8rem;
    }
}
.faq-container{
margin-top: 5rem;
padding-inline:10px;
}
.faq-container details{
    margin: auto;
max-width: 50rem;
margin-top: 0.5rem;
padding: 1rem;
background-color: #F3F3F3;

}
.faq-container summary{
    font-size: 0.9rem;
}
h1{
    text-align: center;
    margin-bottom: 0.8rem;
}
p{
    text-align: center;
    color: gray;

}
.faq-container details p{
    text-align: start;
    font-size: 0.85rem;
}
details{
margin-bottom: 1rem;
padding-bottom: 1rem;
transition: 1s;
}
summary{
    cursor: pointer;
    padding: 1rem;
    color: black;
    font-weight: bold;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 2s;
    
}
summary::after{
    content:'\276F' ;
    transform: rotate(90deg);
    font-size: 1.2rem;
    transition: 0.5s;
}

details[open] summary::after {
    transform: rotate(270deg);
}

details p{
    padding: 0.8rem;
    padding-right: 2rem;
    color: black;
}
.faq-derniere-question{
    margin-top: 4rem;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}
.faq-fin{
    text-align: center;
    color: gray;

}
.contactus{
    color: black;
}


@media(max-width : 767px){


    h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    p{
        text-align: center;
        color: gray;
        padding-right: 2rem;
        padding-left: 2rem;
        line-height: 2rem;
    
    }
    .faq-fin{
        padding-left: 2rem;
        padding-right: 2rem;
        line-height: 2rem;
    }

}
.end_title {
    margin-block:100px;
    & .sm {
        font-size: 0.8rem;
    }
}